{% extends 'master-chats' %}

{% block chats %}
<div class="row">
    <div class="col-xs-9 col-sm-10">
        <div class="form-group">
          {{ form.label('message', 'Message', {class: 'sr-only'}) }}
          {{ form.textarea('message', '', {class: 'form-control'}) }}
        </div>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
        <button id="imageButton" type="button" name="addImage" class="btn btn-default"><img src="/assets/image-add-button.svg" alt="Add image button" /></button>
        <p>Add image url</p>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
              {{ form.label('image', 'Image URL', {class: 'sr-only'}) }}
              {{ form.text('image', '', {class: 'form-control hidden', placeholder: 'Image URL'}) }}
            </div>
    </div>

    </div>

<div class="row">
    <div class="col-xs-12">
        <ul id="messages" class="list-group">
            {% for chat in chats %}
            <li class="list-group-item">{{ chat.message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
