{% extends 'masterBlog' %}

{% block blog %}
<div class="container">
  {{ form.open({action: 'BlogController.store'}) }}

    {{ csrfField }}

    <div class="form-group">
      {{ form.label('author', 'Author') }}
      {{ form.text('author', '', {class:'form-control'}) }}
    </div>

    <div class="form-group">
      {{ form.label('headline', 'Headline') }}
      {{ form.text('headline', '', {class: 'form-control'}) }}
    </div>

    <div class="form-group">
      {{ form.label('body', 'Post') }}
      {{ form.textarea('body', '', {class: 'form-control'}) }}
    </div>

    <div class="form-group">
      {{ form.label('image', 'Image') }}
      {{ form.file('image', '', {class: 'form-control'}) }}
    </div>

    <div class="form-group">
      {{ form.submit('Create', '', {class: 'btn btn-default'}) }}
    </div>

  {{ form.close() }}
</div>
{% endblock %}
