{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2>Practical <span>Reliable</span> Productive</h2>
      <a href="/user" alt="View users">View Users</a>
      <br/>
      <br/>
      <a href="/search-users" alt="Search for users">Search for Users</a>
    </div>
  </div>
{% endblock %}
