* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatty {
  font-family: 'Pacifico', cursive;
  border-bottom: 13px solid #ed6a5a;
}

#chatty h1 {
  font-size: 50px;
  margin-bottom: -3px;
}

#chatty img {
  margin-right: 10px;
}

p {
  color: #a7a5a5;
  font-size: 70%;
  padding-top: 2px;
}

.col-xs-3 {
  padding: 0;
}

.hidden {
  display: none;
}

#messages iframe, #messages .placeholder {
  width: 90px;
  height: 90px;
}

#messages iframe img, #messages .placeholder img {
  width: 100%;
}

#messages .chat_display:first-child {
  flex: 2;
}

#messages .chat_display:last-child {
  flex: 1;
}

#messages .list-group-item {
  border: none;
  border-radius: 0;
  border-left: 10px solid #41d3bd;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #9bc1bc;
}

#image {
  margin-bottom: 20px;
}
