* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatty {
  font-family: 'Pacifico', cursive;
  border-bottom: 13px solid #ed6a5a;
}

#chatty h1 {
  font-size: 50px;
  margin-bottom: -3px;
}

#chatty img {
  margin-right: 10px;
}

p {
  color: #a7a5a5;
  font-size: 70%;
  padding-top: 2px;
}

.col-xs-3 {
  padding: 0;
}

.hidden {
  display: none;
}
